---
---
<!DOCTYPE html>
<head>
    <title>Guitaraoke Chord Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            font-family: Arial;            
        }
        pre {
            font-family: Consolas;
            font-size: 18px;        
            page-break-before: always;
            page-break-inside: avoid;                        
        }
    </style>
</head>
{% assign artists = site.songs | group_by: 'artist' | sort: 'name' %} 
{% for artist in artists %} 
{% assign songs = artist.items | sort: 'title' %} 
{% for song in songs %}
<pre>
{{- song -}}
</pre>
{% endfor %} {% endfor %}
