<title>Guitaraoke!</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@dylanbeattie" />
<meta name="twitter:creator" content="@dylanbeattie" />
<meta name="twitter:image" content="https://guitaraoke.live/assets/img/guitaraoke-social-media-banner.jpg" />

<meta property="og:url" content="https://guitaraoke.live" />
<meta property="og:title" content="Guitaraoke: Karaoke With Strings Attached" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Guitaraoke is karaoke with live guitars. Sing, play lead, rhythm, or bass, along with professional backing tracks, in front of a live audience." />
<meta property="og:image" content="https://guitaraoke.live/assets/img/guitaraoke-social-media-banner.jpg" />