---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  a.google-calendar-link {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px 8px 3px 4px;
    border-radius: 2px;
    color: #333;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    img {
      position: relative;
      top: -1px;
    }
    &:hover {
      background-color: #1967D2;
      color: #fff !important;
    }
  }