// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
html { 
    background: #000 url(/assets/svg/website-header-background.jpg);
    background-size: contain;    
    background-position: top center;
    background-repeat: no-repeat;
}

body {
    background: url(/assets/svg/website-footer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: contain;    
}
footer {
    margin-top: 25vw;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 80%;
    &.site-footer {
        padding: 2px 0 !important;
    }
}

@media (max-width: 640px) {
    body {
        background-size: 640px auto;
    }
    footer {
        margin-top: 150px;
    }
}

a.site-title {    
    display: block;
    margin: 8px auto !important;
    font-size: 0;
    background: url(/assets/svg/website-logo-header.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    float: none;
    height: 10vw;
    min-height: 60px;
    max-height: 120px;
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 16px;
}

nav {
    text-align: center;
    a {
        display: inline-block;
        padding: 4px;
        color: #fff !important;
    }
    a:hover {
        text-decoration: underline;
    }
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 16px 0px;
    margin-bottom: 16px;
}