// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    background: url(/assets/svg/website-footer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: contain;
    padding-bottom: 25vw;
}
@media (max-width: 640px) {
    body {
        background-size: 640px auto;
        padding-bottom: 140px;
    }
}

a.site-title {
    display: block;
    margin: 8px auto !important;
    font-size: 0;
    background: url(/assets/svg/website-logo-header.svg);
    background-position: top left;
    background-repeat: no-repeat;
    width: 240px;
    height: auto;
    float: none;
}

dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 16px;
}

nav {
    text-align: center;
    a {
        display: inline-block;
        padding: 4px;
    }
    a:hover {
        text-decoration: underline;
    }
    border-bottom: 1px solid #369;
    border-top: 1px solid #369;
    padding: 16px 0px;
    margin-bottom: 16px;
}